<%- include('partials/header') %>

<div class="container">
    <h2>Account</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Billing</h5>
            <h6 class="card-subtitle mb-2 text-muted"><%=locals.user.type%> user</h6>
            
            <p id="subscription-status" class="card-text">Your subscription is currently active. </p>
            <% if (locals.user.type !== "premium") { %>
                <button id="checkout" class="btn btn-primary">Checkout</button>
            <% } else { %>
                <a id="manage" class="btn btn-primary" href="<%=locals.env.BASE_URL%>/api/users/manage">Manage billing</a>
            <% } %>
        </div>
    </div>

    <div class="card" style="margin-top: 16px;">
        <div class="card-body">
            <h5 class="card-title">Past Sessions</h5>
            <ul id="login-history" class="list-group list-group-flush"></ul>
        </div>
    </div>

</div>



<div  style="white-space: pre"/>

<script>
    const stripe = Stripe("<%=locals.env.STRIPE_PUBLIC%>");
    const isPremium = <%=(locals.user.type === "premium")%>;
    
    const deviceHistoryTemplate = item => (`
        <li class="list-group-item">
            ${item.timestamp}<br>
            <strong>IP: </strong>${item.ip}<br>
            <strong>Device: </strong>${item.agent}<br>
        </li>
    `);

    $("#checkout").click(e => {
        (async () => {
            try
            {
                const session = await User.checkout();
                stripe.redirectToCheckout({ sessionId: session.id });
            }
            catch (error)
            {
                console.log(error);
            }
        })();
    });

    (async () => {
        const history = await User.getHistory();
        const $loginHistory = $("#login-history");

        $loginHistory.empty();

        history.forEach(a => {
            $loginHistory.append(deviceHistoryTemplate(a));
        });
        
        if (!isPremium)
        {
            const pricing = await User.getSubscriptionPricing();
            $("#subscription-status").html(`Your subscription is currently inactive.<br>Join now for only <b>${pricing}</b>`);
        }

    })();

</script>

<%- include('partials/footer') %>