<%- include('../partials/header') %>

<style>
  .card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
</style>

<div id="talent-container">

</div>

<% if (user && user.type === "premium") { %>

<div id="disqus_thread" style="margin-top: 1rem;"></div>

<% } else { %>

<div class="card" style="margin-top: 1rem;">
  <div class="card-body">
    <h5 class="card-title">Want to participate in discussions about this talent?</h5>
    <p class="card-text">Join the Premium Plan to get started!</p>
    <button id="join-premium-button" class="btn btn-primary" redirect-to="/account/" <%= user ? "" : "disabled"  %>>Join Premium</a>
  </div>
  <div class="card-footer text-muted">
    Please sign-in to join the Premium Plan.
  </div>
</div>

<% } %>

<script>
  const isUserLoggedIn = "<%= !!locals.user %>" === "true";

  const talentId = "<%= talentId %>";
  const talentRepo = new TalentRepository();

  Promise.resolve()
      .then(() => setLoadingState())
      .then(() => talentRepo.find(talentId))
      .then(showTalent)
      .catch(showErrorAsAlerts);

  $(document).on('click', '#delete-talent-button', async () => {
    const shouldDelete = confirm("Are you sure you want to delete the talent?");
    if (!shouldDelete) {
      return;
    }

    try {
      await talentRepo.delete(talentId);
      redirectToHomePage();
    } catch (e) {
      showErrorAsAlerts(e);
    }
  });

  function setLoadingState() {
    $("#talent-container").empty();
    $("#talent-container").append(`
    <div class="spinner-border" role="status">
    </div>
    `);
  }

  // TODO: cut off description beyond a certain length
  function renderTalentCard(talent) {
    return `
<div class="card">
  <div class="card-horizontal">
    <div>
      <img class="card-img-top" src="${talent.profile_picture_url}" style="width: 400px; height: 400px;">
    </div>
    <div class="card-body">
      <h5 class="card-title">${talent.name}</h5>
      <p class="card-text">${talent.description}</p>

      <div class="btn-group">
        <button id="edit-talent-button" class="btn btn-primary" redirect-to="${baseUrl}/talents/${talent.id}/edit" ${ isUserLoggedIn ? "" : "disabled" }>Edit Profile</button>
        <button id="delete-talent-button" class="btn btn-danger" ${ isUserLoggedIn ? "" : "disabled" }>Delete Profile</button>
      </div>
    </div>
  </div>
  ${
    isUserLoggedIn ? "" : `
    <div class="card-footer text-muted">
      Please sign-in to edit or delete talents.
    </div>
    `
  }
</div>
    `;
  }

  function showTalent(talent) {
    $("#talent-container").empty();
    $("#talent-container").append(renderTalentCard(talent));
  }

  function redirectToHomePage() {
    window.location.replace(`${baseUrl}/home`);
  }

  $(document).on('click', '#edit-talent-button', function(e) {
    const url = e.target.getAttribute('redirect-to');
    window.location.replace(url);
  })

  $(document).on('click', '#join-premium-button', function(e) {
    const url = e.target.getAttribute('redirect-to');
    window.location.replace(url);
  })



</script>

<% if (user && user.type === "premium") { %>

<script>
  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
  var disqus_config = function () {
  this.page.url = '<%= disqusUrl %>';  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = "<%= disqusUrl %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://<%= disqusShortname %>.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<% } %>

<%- include('../partials/footer') %>